.why{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    opacity: 0;
    transform: translateY(300px);
    transition: opacity 2s, transform 2s;
}
.why.animate{
    opacity: 1;
    transform: translateY(0);
}
.why h3{
    margin: 20px 0;
    font-size: 25px;
    
}
.why-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.box1{
    width: 100%;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.why h4{
    text-transform: capitalize;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.534);
}
.box1 p{
    color: rgba(0, 0, 0, 0.534);
}
.box1 h5{
    font-weight: bold;
    color: var(--action-color);
    margin: 10px 0;
}
.why2{
    margin-top: 60px;
    width: 100%;
    height: auto;
    margin-top: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.432)), url('/public/kathy/hh.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.why2-img {
    margin-top: 30px;
}
.why2-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.why2-text{
   padding: 20px; 
}
.why2-text h3{
    color: var(--primary-color);
    text-align: center;
}
.why2-text h1{
    text-align: center;
    color: var(--primary-color);
    margin: 20px 0;
}
.why2-text p{
    color: var(--primary-color);
    text-align: center;
    line-height: 25px;
}
.de{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.de a{
    padding: 10px 20px;
    background: var(--action-color);
    color: var(--primary-color);
    border-radius: 10px;
}
@media screen and (min-width:1000px) {
    .why2{
        flex-direction: row;
        padding: 60px;
    }
    .why2-text{
        width: 50%;
    }
    .why2-text h1{
        text-align: start;
    }
    .why2-text h3{
        text-align: start;
    }
    .why2-text p{
        text-align: start;
    }
    .de{
        justify-content: start;
        align-items: start;
    }
    .why-box{
        padding: 60px;
    }
}