.support{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    opacity: 0;
    transform: translateY(300px);
    transition: opacity 2s, transform 2s;
}
.support.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
.card{
    background: var(--primary-color);
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ;
}
.card:hover{
    transform: scale(0.85);
    cursor: pointer;
}
.card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.card h3{
    font-weight: bold;
}
.card p{
    text-align: center;
    line-height: 30px;
}
.special{
    background: var(--action-color);
    color: #ffffff;
}
@media screen and (min-width:768px) {
    .support{
        flex-direction: row;
        gap: 50px;
    }
}

@media screen and (min-width:1000px) {
    .support{
        flex-direction: row;
        gap: 70px;
        margin-top: 50px;
    }
}